@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
/* navbar style */
nav{
    padding: 20px 0px 20px 0px;
}
.navbar {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
hr{
    box-sizing: border-box;
    border: 0.5px solid rgb(254, 163, 1);
    display: none;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.nav-item {
    text-decoration: none;
}

.home{
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
}
.home:hover{
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    background-color: orange;
}
.about{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
}
.about:hover{
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    background-color:rgb(1, 172, 253);
}
.facilities{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
}
.facilities:hover{
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    background-color:rgb(5, 212, 223);
}
.admission{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
}
.admission:hover{
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    background-color:rgb(93, 88, 239);
}

.btn{
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;   
    text-align: center;
}
.btn:hover{
   background-color: rgb(224, 143, 3);
}

/* section hero */
.hero{
    width: 1158px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.discription{
    width: 640px;
    height: 331px;
}
.title{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    text-align: left;
    margin-bottom: 24px;
}
.Empowering{
    color: rgb(254, 163, 1);
}
.vision{
    color: rgb(1, 172, 253);
}
.title-discription{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}
.btn2{
    width: 197px;
height: 50px;
border-radius: 12px;
border: none;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;

}
/* Standard-Curriculum */
.Standard-Curriculum{
    width: 100%;
    padding: 60px 0px 60px 0px;
    background-image: url(../assets/bg.png);
    
}
.Standard-title{
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}

.card-container{
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.card{
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img1{
    margin: 53px 117px 32px 117px;
}
.kinder{
    color: rgb(32, 32, 32);
    font-size: 24.52px;
    font-weight: 700;
    margin-bottom: 33px;
}
.Cum{
    width: 286.26px;
    color: rgb(128, 128, 128);
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
text-align: center;
margin-bottom: 33px;
}
.btn3{
    width: 102.92px;
    height: 28.3px;
    border: none;
    background-color: white;
    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
}
.elementary-card{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.btn4{
    width: 102.92px;
    height: 28.3px;
    border: none;
    background-color: white;
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
}
.middle-card{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.btn5{
    width: 102.92px;
    height: 28.3px;
    border: none;
    background-color: white;
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    
    .navbar{
        width: 358px;
        height: 46px;
        margin-bottom: 25px;
    }
    header{
    
    width: 390px;
    margin-bottom: 20px;
    }
    .nav-list {
        display: none;
    }
    .btn {
        display: none;
    }
    .name{
        display: none;
    }
    body{
        width: 357px;
        justify-content: center;
        align-items: center;
    }
    .hero{
        width: 357px;
        height: 725px;
        flex-direction: column;
        text-align: center;
        padding: 20px 0px 20px 0px;

        
    }
    .kid{
        width: 336.58px;
        height: 413px;
    }
    .discription{
        order: 2;
        width: 357px;
        height: 252px;
        margin: 18px 0px;
    }
    .title{
        font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    }
    .title-discription{
        color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    }
    .card-container{
        grid-template-columns: 1fr;
        /* Classes */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .Standard-title{
        color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    }
    .Standard-Curriculum{
        width: 390px;
        height: 1913.51px;

    }
}
